.c-trainingSessionThumb {
  display: flex;
  width: 100%;
  flex-direction: column;

  box-shadow : 0 .5em 3em #ddd;
  background: #fff;;

  text-align : center;
}
  .c-trainingSessionThumb__caption {
    padding : 1em;
  }

  .c-trainingSessionThumb__figure {
    overflow: hidden;
  }

  .c-trainingSessionThumb__figure:hover img {
    transform: scale(1.1);
  }

  .c-trainingSessionThumb__imageContainer {
    display: block;
    position: relative;

    overflow: hidden;

    height: 0;

    padding : 0 0 65%;
  }

  .c-trainingSessionThumb__imageContainer img {
    display: block;
    position: absolute;

    transition : transform 0.3s;
  }

  .c-trainingSessionThumb__title {
    font-size : 1.25em;

    padding : 1em 0 .5em;
  }
